@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-dark-gray: #393939;
    --color-custom-red: #bf042f;
    --color-dark-red: #370c16;
    --font-cutmark: 'Cutmark', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --background-image-header: url('/images/header-bg.jpg');
}

@font-face {
    font-family: 'Cutmark';
    src: url('/fonts/Cutmark.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-style: normal;
}

.btn-1 {
    @apply relative flex items-center justify-center gap-2 ps-6 pr-1.5 py-1.5 text-[12px] leading-5 font-medium uppercase rounded-[56px] text-white font-montserrat transition duration-300 ease-in-out w-fit;
}

.btn-1 span {
    @apply flex items-center justify-center w-10 h-10 rounded-[28px] bg-white duration-300 ease-in-out transition-all;
}

.btn-1:hover span {
    @apply scale-110 ml-2 transition-all;
}

.btn-1::after {
    content: '';
    @apply absolute top-0 left-0 w-full h-full rounded-[56px] bg-[#b9042e] transition duration-300 ease-in-out -z-10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mb-2 uppercase;
}

p {
    @apply mb-2 opacity-60 font-montserrat font-normal;
}

@layer utilities {
    .writing-sideways-lr {
        writing-mode: sideways-lr;
    }

    .writing-vertical-rl {
        writing-mode: vertical-rl;
    }

    .writing-vertical-lr {
        writing-mode: vertical-lr;
    }

    :root {
        --swiper-navigation-size: 0 !important;
    }

    /* Banner Specifics */
    .banner-image-container::before {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 72%;
        height: 92%;
        background: var(--color-custom-red);
        border-radius: 250px 250px 0 0;
        content: '';
        z-index: -1;
    }

    @media screen and (max-width: 768px) {
        p {
            font-size: 12px;
        }
    }

}